<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
      matInput
      placeholder="Enter the title"
      type="text"
      name="title"
      [ngModel] = "post?.title"
      required minlength="3"
      #title="ngModel">
      <mat-error *ngIf="title.invalid">Title must be at least 3 characters.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      placeholder="Enter the content"
      rows="4"
       name="content"
       [ngModel] = "post?.content" required
       #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter the content.</mat-error>
    </mat-form-field>
      <button
      mat-raised-button
      color="primary"
      type="submit">Save Message</button>
  </form>
</mat-card>


