:host {
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
  color: grey;
  font-size: small;
}

mat-spinner{
  margin: auto;
}

mat-paginator{
  margin-top: 1rem;
}


.post-image {
  width: 60%;

}

.post-image img{
  width: 250px;
  height: 250px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
